@import "reset";

$fancy-font: "Eagle Lake", cursive;

$content-background: rgba(
  $color: #000,
  $alpha: 0.7,
);

$content-background-hover: rgba(
  $color: #fff,
  $alpha: 0.3,
);



body {
  background: url("/dist/img/pizza-background.webp") center/cover;
  background-attachment: fixed;
  color: #fff;
  min-height: 100svh;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 2rem;
  width: 100%;

  background-color: $content-background;

  div,
  nav {
    width: 25rem;
    text-align: center;
  }

  .headerText {
    font-size: 2.5rem;
    font-family: $fancy-font;
  }

  .headerSubText {
    font-size: 1.25rem;
    padding-top: 1rem;
    font-family: $fancy-font;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0rem 1rem 0;

    button {
      font-size: 1.5rem;
      border: none;
      background: none;
      color: white;
      padding: 1rem;
      cursor: pointer;
      transition: transform 0.5s;

      &:hover {
        transform: translateY(-10px);
      }
    }

    .border {
      border-bottom: solid white 2px;
    }
  }
}

.main {
  background-color: $content-background;
  flex: 1 1 auto;
  margin: 3rem 0;
  max-width: 45rem;
  padding: 2rem;
}

// Home

.copy-home {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 50%;
    border-radius: 50%;
    padding: 1rem;
  }

  p {
    padding: 1rem;
    font-size: 1.5rem;
  }
}

// Menu

.copy-menu {

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: $content-background;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background-color: $content-background-hover;
    }

    div {
      font-size: 2rem;

    }

    img {
      width: 50%;
      border-radius: 50%;
    }
  }
}

// Contact

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  background-color: $content-background;
}
